# Mon environnement virtuel
/.venv

#Mon secret contenant ma clef api
.env


#Les fichiers csv
*.csv

# Mon dossier contenant des exports
/data

#Script de test
test.ipynb

#Volume base de donnée
/mysql_data

#fichiers test
test_db.ipynb
analyse.ipynb

#Fichier log
*.log

